body {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  text-align: center;
}

html {
  margin: 0;
}

nav ul{
  display: flex;
  list-style-type: none;
  width: 100%;
  background-color: rgb(19, 71, 154);
  margin-top: 0;
  color: white;
}

nav {
  margin-top: 0;
}

.chordName {
  font-size: xxx-large;
  font-weight: 600;
}

button {
  padding: 12px 15px;
  color: white;
  border: none;
  border-radius: 12px;
  font-family: inherit;
  font-size: large;
}

.startButton {
  background-color: rgb(26, 167, 26);
}

.finishButton {
  background-color: red;
}

.checklist-container{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonList {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.buttonList button {
  background-color: rgb(19, 71, 154);
}

.infoBox {
  background-color: rgb(157, 180, 219);
  height: 170px;
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  margin: 2px;
}

.mistakeBox {
  background-color: rgb(157, 180, 219);
}

.noteHistory {
  background-color: rgb(213, 187, 161);
}

.horizontal {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px;
  flex: 1;

}

.box {
  width:300px;
}
.correct {
  color: green;
}

.incorrect {
  color: red;
}